.head-container-drawer {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  transition: .3s;

  .el-tree {
    overflow: auto;
  }

  .el-tree-node__content {
    height: 36px !important;
  }
}
